.login{
    font-family: 'Poppins', sans-serif;
    background-color: #8CC32E;
}
.login .login-form{
    background-color:gainsboro;
}
.login-btn{
    padding: 10px 30px;
   
    background-color: #00305B;
    border:none;
    border-radius: 5px;
    color: #fff;
}
.login-btn:hover{
    background-color: #8CC32E;
}